{% extends 'base.html' %}
{% block content %}

<h3>Flush List</h3>

{% for flush in flushes %}
  <div class="card">
    <a href="{% url 'detail' flush.id %}">
    <div class="card-content hoverable">
      <span class="card-title">{{ flush.name }}</span>
      <p>Author: {{ flush.author }}</p>
      <p>Description: {{ flush.description }}</p>
      {% if flush.price > 0 %}
        <p>Age: {{ flush.price }}</p>
      {% else %}
        <p>Price: Free</p>
      {% endif %}
    </div>
    </a>
  </div>
{% endfor %}

{% endblock %}