{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MyFlush</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<!-- Base Body -->
<body>

  <!-- Header -->
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal lighten-2">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;MyFlush</a></li>
        </ul>
        <ul class="right">
            <li><a href="{% url 'flushes_create' %}">+ Flush</a></li>
            <li><a href="/flushes">Flushes Near Me</a></li>
            <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Main -->
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <!-- Footer -->
  <footer class="z-depth-2 page-footer teal lighten-2">
    <div class="right">All Rights Reserved &copy; 2022 MyFlush &nbsp;</div>
    <br><br>
  </footer>
</body>
</html>